<div class="row">
    <div class="col-sm-6">
      <div class="card text-white bg-primary" style="max-width: 24rem;">
        <div class="card-body">
          <h5 class="card-title">Fechados Diário</h5>
          <h3>{{chamadosDiarioFechados}}</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-2">
      <div class="card text-white bg-primary" style="max-width: 24rem;">
        <div class="card-body">
          <h5 class="card-title">Fechados Mensal</h5>
          <h3>{{chamadosMensalFechados}}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6  mb-2">
      <div class="card text-white bg-secondary" style="max-width: 24rem;">
        <div class="card-body">
          <h5 class="card-title">Abertos Diário</h5>
          <h3>{{chamadosDiarioAbertos}}</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-6  mb-2">
      <div class="card text-white bg-secondary" style="max-width: 24rem;">
        <div class="card-body">
          <h5 class="card-title">Abertos Mensal</h5>
          <h3>{{chamadosMensalAbertos}}</h3>
        </div>
      </div>
    </div>
  </div>