<div class="logo">
  <a routerLink="/dashboard" class="simple-text">
    <div class="logo-img">
      <img src="/assets/img/angular2-logo-red.png" />
    </div>
    Dashboard
  </a>
</div>
<div _ngcontent-c2="" class="sidebar-wrapper ps">
  <!---->
  <ul _ngcontent-c2="" class="nav">
    <!---->
    <li _ngcontent-c2="" routerlinkactive="active" routerLink="/dashboard" class="nav-item active"><a _ngcontent-c2=""
        class="nav-link"><i _ngcontent-c2="" class="material-icons">dashboard</i>
        <p _ngcontent-c2="">Dashboard</p>
      </a></li>
    <li _ngcontent-c2="" routerlinkactive="active" routerLink="/lista" class="nav-item active"><a _ngcontent-c2=""
        class="nav-link"><i _ngcontent-c2="" class="material-icons">list</i>
        <p _ngcontent-c2="">Lista</p>
      </a></li>
      <li _ngcontent-c2="" routerlinkactive="active" routerLink="/chamado" class="nav-item active"><a _ngcontent-c2=""
        class="nav-link"><i _ngcontent-c2="" class="material-icons">keyboard</i>
        <p _ngcontent-c2="">Chamados</p>
      </a></li>
  </ul>
  <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
  </div>
  <div class="ps__rail-y" style="top: 0px; right: 0px;">
    <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
  </div>
</div>