<div class="row">
  <h3 class="mb-4">Chamados Diario</h3>
</div>
<div>
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
  </div>
</div>
<div class="row">
  <h3 class="mb-4">Chamados Mensal</h3>
</div>
<div>
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartDataM"
            [labels]="barChartLabelsM"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
  </div>
</div>