<div class="row">
    <h3 class="mb-4">Massificado</h3>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Incidente</th>
          <th scope="col">Título</th>
          <th scope="col">Prioridade</th>
          <th scope="col">Vencimento</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let chamado of listaDeChamadosMassificado">
          <td>{{chamado.IdIncidente}}</td>
          <td>{{chamado.Titulo}}</td>
          <td>{{chamado.Prioridade}}</td>
          <td>{{chamado.DataNextBreachOLA}}</td>
          <td>{{chamado.Status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>